* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body{
    background-image: url(../images/fundo\ tela\ inicial.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.msg {
    background-color: #D4EDDA;
    color: #b5c588;
    border: 1px solid #FFF;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#div-main {
    width: 100%;
    height: 100vh;
}

.center {
    width: 30%;
    margin:auto;
    text-align: center;
    padding: 10px;
}

#div-form {
    margin-top: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 650px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#div-form label {
    font-size: 18px;
}

.div-dados {
    margin-bottom: 15px;
    padding: 10px;
}

#div-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#div-form input:focus {
    border-color: rgb(149, 221, 55);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    outline: none;
}

#div-form input::placeholder {
    color: #aaa;
}

#div-form input:invalid {
    border-color: #fcfcfc;
}

#div-form input:valid {
    border-color: #4CAF50;
}

#div-textarea textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

#btn-submit {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(135, 177, 38);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .4s;
    font-size: 16px;
}

#btn-submit:hover {
    background-color: rgb(175, 194, 91);
    color: black
}


/* == CSS DASHBOARD ADMIN == */
#content-main-admin {
    width: 100%;
    height: 100vh;
}

#div-titulo {
    width: 450px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.div-content {
    width: 40%;
    height: auto;
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: auto;
}

.table {
    border-bottom: 1px solid #3d3d3d86;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.table .th-admin {
    width: 90%;
    text-align: start;
}

.table a {
    color: #FFF;
    text-decoration: none;
    padding: 6px;
    background-color: #4CAF50;
    border-radius: 6px;
    transition: all .4s;
    margin-left: 20px;
}

.table a:hover {
    background-color: #FFF;
    color: #4CAF50;
}


.table-removerProduto {
    width: 100%;
    border-bottom: 1px solid #3d3d3d86;
    padding: 10px;
    font-size: 18px;
}

.table-removerProduto thead th:nth-child(1) {
    width: 10%;
}

.table-removerProduto thead th:nth-child(1) {
    width: 40%;
}

.table-removerProduto thead th:nth-child(1) {
    width: 10%;
}

.table-removerProduto thead th:nth-child(1) {
    width: 10%;
}

.table-removerProduto tbody td {
    text-align: center;
    padding: 8px 0;
}

.table-removerProduto tbody td a {
    color: #FFF;
    text-decoration: none;
    padding: 6px;
    margin-left: 30px;
    background-color: #4CAF50;
    border-radius: 6px;
    transition: all .4s;
}

.table-removerProduto a:hover {
    background-color: #FFF;
    color: #4CAF50;
}


/* CSS DASHBOARD INSERIR PRODUTO */
#div-content-main {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#div-form-produto {
    width: 650px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


#div-form-produto label {
    font-size: 18px;
    display: block;
}

#div-form-produto input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

#div-form-produto input:focus {
    outline: none;
}

.div-btn-radio {
    display: inline-block;
}

#div-form-produto input[type='submit'] {
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(135, 177, 38);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .4s;
}

#div-form-produto input[type='submit']:hover {
    background-color: rgb(175, 194, 91);
    color: black;
}


